/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2015, 12:08:59 AM
    Author     : Hassan & Sanela
*/

/* ------ CalcScreen Styles ------ */

@font-face{
    font-family: Headache;
    src:url(DS-DIGI.TTF);
}

#CalcScreen{
    height: 20px;
    width: 100px;
    border: 1px solid black;
    text-align:right;
    background-color: gainsboro;
    font-family: Headache;
}

/* ------ Space Styles ------ */
.Space {
    background-color:transparent;
    border:transparent;
    cursor:default;
    max-height:3px;
    max-width: 3px;
    min-height:3px;
    min-width:3px;
    height: 3px;
    width: 3px;
    text-align:right;
    font-size: 5px; 
    font-weight: bold;
    font-family: cursive;
}

.Space:hover {
    background-color:transparent;

}

/* ------ Table Styles ------  */
table {
    border: 2px solid black;
    background-color:violet;
    margin:auto;
    border-radius:10px;

}

td {
    border: 1px solid black; 
    text-align:center;
    border-radius:5px;
    max-height:20px;
    max-width:20px;
    min-height:20px;
    min-width:20px; 
    width:20px;
    height:20px;
    background-color:blueviolet;
    cursor:pointer;
} 

td:hover{
    background-color:pink;
}
