/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2015, 12:08:59 AM
    Author     : Hassan & Sanela
*/


#CalcScreen{
    height: 20px;
    width: 100px;
}

table {
    border: 2px solid black;
}